.navigation-container {
  display: flex;
  gap: 20px; /* Spazio tra i due pulsanti */
  justify-content: center;
  align-items: center;
}

.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f7f7;
  border: 1px solid #9898;
  border-radius: 40px;
  width: 100px; /* Larghezza fissa per i pulsanti */
  height: 35px; /* Altezza fissa */
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-button:hover {
  background-color: #e0e0e0;
}

/* Ridimensiona solo l'icona */
.nav-icon {
  max-width: 35px; /* Larghezza massima dell'icona */
  max-height: 35px; /* Altezza massima dell'icona */
  object-fit: contain; /* Mantiene le proporzioni */
}

/* Per gestire margini delle icone */
.navigation-button.back .nav-icon {
  margin-right: 5px;
}

.navigation-button.next .nav-icon {
  margin-left: 5px;
}

.nav-label {
  margin: 0 5px;
}

/* Effetto hover per il pulsante Back: sposta l'icona a sinistra */
.navigation-button.back:hover .nav-icon {
  transform: translateX(-3px); /* Sposta l'icona di 5px a sinistra */
  transition: transform 0.3s ease;
}

/* Effetto hover per il pulsante Next: sposta l'icona a destra */
.navigation-button.next:hover .nav-icon {
  transform: translateX(3px); /* Sposta l'icona di 5px a destra */
  transition: transform 0.3s ease;
}

.navigation-button:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.6; /* Make it visually distinct */
}